body {
  background-color: #f0efeb;
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sprite {
  min-height: 100%;
  min-width: 100%;
}

.pokemon-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #f9f9f9;
}

.data-grid {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightseagreen;
  color: white;
  margin-bottom: 30px;
}

.poke-img {
  min-width: 100%;
  min-height: 100%;
}

.stat-container {
  margin: 10px;
  padding: 20px;
}

.pokemon-data-grid {
  background-color: lightseagreen;
  color: white;
  padding: 20px;
}

.types {
  display: flex;
  justify-content: start;
}

.type-span {
  background-color: blue;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
